.contenedorformularioLogin {
    width: 400px;
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.61);
    backdrop-filter: blur(15px); 
}
.contenedorformularioRegister {
    width: 700px;
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.61);
    backdrop-filter: blur(15px); 
}
@media screen and (max-width: 768px) { 
    .contenedorformularioRegister {
        width: 100%; 
        margin-inline: 10%;
    }
}
.lineaDivisora{
    height: 1px;
    border: 1px solid rgba(253, 253, 253, 0.308);
    margin: auto;
    margin-block: 15px;
}
.sombracomponentes{
    box-shadow: -10px 13px 12px -2px rgba(0,0,0,0.75);
    -webkit-box-shadow: -10px 13px 12px -2px rgba(0,0,0,0.75);
    -moz-box-shadow: -10px 13px 12px -2px rgba(0,0,0,0.75);
}
.buttonDecoration{
    color: white;
    background-color: rgba(0, 0, 0, 0.733);
    font-weight:600;
    border-radius: 0.5rem;
    text-decoration: none;
    display: flex;
    align-items: center;
    margin-block: 16px;
    padding-block: 8px;
    padding-inline: 50px;
    transition: all 0.3s ease;
}
.buttonDecoration:hover{
    color: rgb(0, 0, 0) ;
    background-color: rgb(255, 255, 255);
    font-size: 1.1rem;
    padding-inline: 46px;
    margin-block: 14px;
    box-shadow: -3px 5px 6px 4px rgba(0,0,0,0.7);
    -webkit-box-shadow: -3px 5px 6px 4px rgba(0,0,0,0.7);
    -moz-box-shadow: -3px 5px 6px 4px rgba(0,0,0,0.7);
}
